<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBmmaB__L5JXrHhYho5OI11l3xWvZc06L8&sensor=false">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style type="text/css">
	body,html {height:  100%; width: 100%; margin: 0;}
</style>

<script>

    var map;
    var marker;

    function initialize()
    {
        //Map properties
        var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        //Create a new map
        map=new google.maps.Map(document.getElementById("googleMap")
        ,mapProp);

        //Simple lat long for center
        var myCenter=new google.maps.LatLng(51.508742,-0.120850);

        //Marker from lat long
        marker=new google.maps.Marker({ position:myCenter,animation:google.maps.Animation.DROP });

        //Put on map
        marker.setMap(map);

{#	    google.maps.event.addListener(map, 'bounds_changed', function (e) { console.log(map.getBounds().getNorthEast().lat());  });#}
{#	    google.maps.event.addListener(map, 'zoom_changed', function() { console.log(map.getBounds());  });#}

	    checkBounds();
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    function checkBounds()
    {
	    if(map != null && map.getBounds() != null)
	    {

		    var visibleUrl = "/getvisible?toprightx=" + map.getBounds().getNorthEast().lng()
		    				          + "&toprighty=" + map.getBounds().getNorthEast().lat()
		    				          + "&bottomleftx=" + map.getBounds().getSouthWest().lng()
		    				          + "&bottomlefty=" + map.getBounds().getSouthWest().lat();

		    $.getJSON(visibleUrl, function(data) {
		      var items = [];

			    console.log(data);

		      $.each(data, function(key, val) {
		        console.log(key + ":" + val);
		      });
		    });


	    }


	    setTimeout(checkBounds, 5000);
    }

    setTimeout(moveMarker, 2000);

	function moveMarker()
	{
		var newLatLng = new google.maps.LatLng(33.1313, 44.1933);
		marker.setPosition(newLatLng);
		marker.setMap(map);
	}

</script>
</head>

<body>
<div id="googleMap" style="width:100%;height:100%;"></div>

</body>
</html>