<!DOCTYPE html>
<html>
<head>
    <title></title>
	<style>html,body { height: 100%; width: 100%; margin: 0;}</style>
	<script type="text/javascript">
	        width='99%';          //the width of the embedded map in pixels or percentage
	        height='99%';         //the height of the embedded map in pixels or percentage
	        border=1;           //the width of border around the map. Zero means no border
	        notation=false;     //true or false to display or not the vessel icons and options at the left
	        shownames=false;    //true or false to dispaly ship names on the map
	        latitude=51.4460;   //the latitude of the center of the map in decimal degrees
	        longitude=-0.9467;  //the longitude of the center of the map in decimal degrees
	        zoom=8;             //the zoom level of the map. Use values between 2 and 17
	        maptype=3;          //use 0 for Normal map, 1 for Satellite, 2 for Hybrid, 3 for Terrain
	        trackvessel=0;      //the MMSI of the vessel to track, if within the range of the system
	        fleet='';           //the registered email address of a user-defined fleet to display
	        remember=false;     //true or false to remember or not the last position of the map
	</script>
	<script type="text/javascript" src="http://www.marinetraffic.com/ais/embed.js"></script>

</head>
<body>

</body>
</html>